# Working with demand data

In [1]:
import pandas as pd
import geopandas as gpd

from covidcaremap.data import (PUBLISHED_DATA_DIR, published_data_path, 
                                  PROCESSED_DATA_DIR, processed_data_path,
                                  EXTERNAL_DATA_DIR, external_data_path)

## Cases (actuals)

There are open, updated datasets of confirmed cases and deaths from two sources: USAFacts and NYTtimes.

### NY Times Data

The NY Times data shows cumulative cases and deaths per state or county per day.

This data is pulled from their GitHub repository dynamically via these `covidcaremap.data` package methods:

In [2]:
from covidcaremap.cases import get_nytimes_cases_by_county, get_nytimes_cases_by_state

nytimes_county_cases = get_nytimes_cases_by_county()
nytimes_state_cases = get_nytimes_cases_by_state()

In [3]:
nytimes_county_cases

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1       0
1      2020-01-22   Snohomish  Washington  53061.0      1       0
2      2020-01-23   Snohomish  Washington  53061.0      1       0
3      2020-01-24        Cook    Illinois  17031.0      1       0
4      2020-01-24   Snohomish  Washington  53061.0      1       0
...           ...         ...         ...      ...    ...     ...
30838  2020-04-03    Sublette     Wyoming  56035.0      1       0
30839  2020-04-03  Sweetwater     Wyoming  56037.0      3       0
30840  2020-04-03       Teton     Wyoming  56039.0     32       0
30841  2020-04-03       Uinta     Wyoming  56041.0      1       0
30842  2020-04-03    Washakie     Wyoming  56043.0      2       0

[30843 rows x 6 columns]

### USAFacts Data

The USAFacts data is by county, and is a different format than the NYTimes data. It shown total accumulated counts of death per date. It also seperates out the cases and deaths into separate files:

In [4]:
from covidcaremap.cases import get_usafacts_cases_by_county, get_usafacts_deaths_by_county

usafacts_cases_df = get_usafacts_cases_by_county()
usafacts_deaths_df = get_usafacts_deaths_by_county()

In [5]:
usafacts_cases_df

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,4,6,6,6,6,7,7,10,10,12
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,4,5,5,10,15,18,19,23,25,28
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,2,3,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,2,2,3,3,3
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,6,8,12,14,14,17,23,26,29,32
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,2,2
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

We can begin to compare the datasets, e.g. to determine the total counts of Philadelphia County on 3/20:

In [6]:
usafacts_cases_df[usafacts_cases_df['County Name'] == 'Philadelphia County'].loc[:,'4/3/20'].to_frame()

      4/3/20
2335    2284

In [7]:
nytimes_county_cases[
    (nytimes_county_cases['county'] == 'Philadelphia') &
    (nytimes_county_cases['date'] == '2020-04-03')]

             date        county         state     fips  cases  deaths
30227  2020-04-03  Philadelphia  Pennsylvania  42101.0   2284      14

## Forecasts

Forecasting demand on the healthcare system is an essential part of identifying the capacity gap. We rely on groups exprienced in epidemiological modeling to produce models we can integrate and data we can ingest.

### IHME - by State

The Institute for Health Metric and Evaluation, University of Washington (IHME) produced a fantastic [report](http://www.healthdata.org/research-article/forecasting-covid-19-impact-hospital-bed-days-icu-days-ventilator-days-and-deaths) along with a [data explorer](http://covid19.healthdata.org/projections). They are releasing new data every Monday, with predictions around bed needs per day.

Data dictionary taken from the 2020_03_27 data release:

- **location_name**: Name of the state
- **date_reported**:Date
- **allbed_mean**: Mean covid beds needed by day
- **allbed_lower**:Â Lower uncertainty bound of covid beds needed by day
- **allbed_upper**: Upper uncertainty bound of covid beds needed by day 
- **ICUbed_mean**: Mean ICU covid beds needed by day
- **ICUbed_lower**: Lower uncertainty bound of ICU covid beds needed by day 
- **ICUbed_upper**: Upper uncertainty bound of ICU covid beds needed by day
- **InvVen_mean**: Mean invasive ventilation needed by day
- **InvVen_lower**: Lower uncertainty bound of invasive ventilation needed by day
- **InvVen_upper**: Upper uncertainty bound of invasive ventilation needed by day
- **deaths_mean**: Mean daily covid deaths
- **deaths_lower**: Lower uncertainty bound of daily covid deaths
- **deaths_upper**: Upper uncertainty bound of daily covid deaths
- **admis_mean**: Mean hospital admissions by day
- **admis_lower**: Lower uncertainty bound of hospital admissions by day
- **admis_upper**: Upper uncertainty bound of hospital admissions by day
- **newICU_mean**: Mean number of new people going to the ICU by day
- **newICU_lower**: Lower uncertainty bound of the number of new people going to the ICU by day
- **newICU_upper**: Upper uncertainty bound of the number of new people going to the ICU by day
- **totdea_mean**: Mean cumulative covid deaths
- **totdea_lower**: Lower uncertainty bound of cumulative covid deaths
- **totdea_upper**: Upper uncertainty bound of cumulative covid deaths
- **bedover_mean**: `covid all beds needed` - (`total bed capacity` - `average all bed usage`)
- **bedover_lower**: Lower uncertainty bound of bedover (above)
- **bedover_upper**: Upper uncertainty bound of bedover (above)
- **icuover_mean**: `covid ICU beds needed` - (`total ICU capacity` - `average ICU bed usage`)
- **icuover_lower**: Lower uncertainty bound of icuover (above)
- **icuover_upper**: Upper uncertainty bound of icuover (above)

In [8]:
from covidcaremap.data import get_ihme_forecast

ihme_df = get_ihme_forecast()

In [9]:
list(ihme_df.columns)

['V1',
 'location',
 'date',
 'allbed_mean',
 'allbed_lower',
 'allbed_upper',
 'ICUbed_mean',
 'ICUbed_lower',
 'ICUbed_upper',
 'InvVen_mean',
 'InvVen_lower',
 'InvVen_upper',
 'deaths_mean',
 'deaths_lower',
 'deaths_upper',
 'admis_mean',
 'admis_lower',
 'admis_upper',
 'newICU_mean',
 'newICU_lower',
 'newICU_upper',
 'totdea_mean',
 'totdea_lower',
 'totdea_upper',
 'bedover_mean',
 'bedover_lower',
 'bedover_upper',
 'icuover_mean',
 'icuover_lower',
 'icuover_upper',
 'location_name']

In [10]:
# Join in case data and compare projected total deaths for NY on 2020-03-26
nytimes_state_df = get_nytimes_cases_by_state()

forecast_and_cases = ihme_df.rename(columns={
    'location_name': 'state', 'date_reported': 'date'
}).merge(nytimes_state_df, on=['state', 'date'])

forecast_and_cases[(forecast_and_cases['state'] == 'New York') &
                    (forecast_and_cases['date'] == '2020-04-03')][['totdea_mean', 'deaths']]

     totdea_mean  deaths
632     2957.593    2935

### CHIME

[CHIME](https://github.com/CodeForPhilly/chime) is a tool was developed by the Predictive Healthcare team at Penn Medicine. It [implements a SIR model](https://code-for-philly.gitbook.io/chime/what-is-chime/sir-modeling) that takes a set of parameters, population, and current confirmed cases to produce a several week estimate of hospitalized, ICU, and ventilated patients. The parameters with their default values can be found in the `covidcaremap.chime` package:

In [11]:
import covidcaremap.chime as ccm_chime

ccm_chime.DEFAULT_PARAMS

{'detection_probability': 0.14,
 'doubling_time': 4,
 'relative_contact_rate': 0.3,
 'hospitalized_rate': 0.025,
 'hospitalized_los': 7,
 'icu_rate': 0.0075,
 'icu_los': 9,
 'ventilated_rate': 0.005,
 'ventilated_los': 10,
 'recovery_days': 14}

The parameters are documented in `covidcaremap/chime.py`:

```
DEFAULT_PARAMS = {

    # Detection Probability: Used to infer infected population from confirmed cases.
    "detection_probability": 0.14,

    # Doubling time before social distancing (days)
    "doubling_time" : 4,

    # Social Distancing Reduction Rate: 0.0 - 1.0
    "relative_contact_rate": 0.3,

    # Hospitalized Rate: 0.00001 - 1.0
    "hospitalized_rate": 0.025,

    # Hospitalized Length of Stay (days)
    "hospitalized_los": 7,

    # ICU Length of Stay (days)
    "icu_rate": 0.0075,

    # ICU Rate: 0.0 - 1.0
    "icu_los": 9,

    # Ventilated Rate: 0.0 - 1.0
    "ventilated_rate": 0.005,

    #Ventilated Length of Stay (days)
    "ventilated_los": 10,

    "recovery_days": 14

}
```

This package also has a method to run CHIME over a region:

In [12]:
help(ccm_chime.get_regional_predictions)

Help on function get_regional_predictions in module covidcaremap.chime:

get_regional_predictions(regions_df, region_id_column, population_column='Population', cases_column='Confirmed Cases', num_days=60, region_param_override=None)
    Runs a regional CHIME prediction based on region population and case counts.

    Args:
        regions_df: The regions to be run over. Requires an ID, population, and cases columns.
        region_id_column: The column holding the region ID.
        population_column: The column holding the population count. Default
        cases_column: The column holding the number of confirmed cases
        region_param_override: A dictionary with keys of region IDs and values being
            being a dict of overridding values for the CHIME parameters. This allows
            regional parameters to be supplied by the user per region.

    Returns:
        A dataframe with the region_id, day, and projection numbers.

We can use this to create predictions over every county in the US:

In [16]:
from covidcaremap.cases import get_county_case_info

# Gets confirmed cases from USA Facts per county for date.
cases_by_county = get_county_case_info('4/3/20') 
chime_county_df = ccm_chime.get_regional_predictions(cases_by_county,
                                       region_id_column='County Name')
chime_county_df

,County Name,day,hospitalized_total,icu_total,ventilated_total,hospitalized_admitted,icu_admitted,ventilated_admitted,hospitalized_census,icu_census,ventilated_census
1,Autauga,1,3.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
2,Autauga,2,3.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
3,Autauga,3,3.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0
4,Autauga,4,4.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0
5,Autauga,5,5.0,1.0,1.0,1.0,0.0,0.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
46,Washington,46,1062.0,318.0,212.0,67.0,20.0,13.0,425.0,157.0,114.0
47,Washington,47,1130.0,339.0,226.0,68.0,21.0,14.0,440.0,163.0,119.0
48,Washington,48,1199.0,360.0,240.0,70.0,21.0,14.0,454.0,169.0,123.0
49,Washington,49,1270.0,381.0,254.0,70.0,21.0,14.0,465.0,174.0,127.0
50,Washington,50,1340.0,402.0,268.0,71.0,21.0,14.0,475.0,179.0,130.0

### HGHI

The data from the [Harvard Global Health Institute (HGHI)](https://globalepidemics.org/our-data/hospital-capacity/) study also includes forecasts. The columns for projections are:

- **Projected Infected Individuals** â€“ How many individuals over the age of 18 are expected to get infected with COVID-19 over the entire course of the pandemic
- **Projected Hospitalized Individuals** â€“ How many individuals over the age of 18 are expected to need hospitalization due to COVID-19 over the entire course of the pandemic        
- **Projected Individuals Needing ICU Care** â€“ How many individuals over the age of 18 are expected to need ICU care due to COVID-19 over the entire course of the pandemic            

These numbers are based on rough percentages of infected population and hospitalization rates.

See their [data dictionary](https://globalepidemics.org/our-data-guide/) for more column descriptions.

In [19]:
hghi_state_gdf = gpd.read_file(processed_data_path('hghi_state_data.geojson'))
hghi_state_gdf[[
    'State Name',
    'Projected Infected Individuals',
    'Projected Hospitalized Individuals',
    'Projected Individuals Needing ICU Care'
]]

,State Name,Projected Infected Individuals,Projected Hospitalized Individuals,Projected Individuals Needing ICU Care
0,Alaska,331391,67202,13976
1,Alabama,2248853,470718,101816
2,Arkansas,1363336,286175,62109
3,Arizona,3112512,654440,142316
4,California,17920876,3698428,786338
5,Colorado,2511112,517433,109804
6,Connecticut,1699048,355637,76924
7,District of Columbia,332600,67741,14167
8,Delaware,443807,93476,20369
9,Florida,9700119,2066855,456495
10,Georgia,4621459,952202,202044
11,Hawaii,668445,140578,30578
12,Iowa,1433639,300950,65320
13,Idaho,733658,153215,33049
14,Illinois,5937317,1233422,264370
15,Indiana,3021938,629377,135316
16,Kansas,1311328,273450,58880
17,Kentucky,2047070,427288,92113
18,Louisiana,2130437,442166,94666
19,Massachusetts,3243472,676095,145511
20,Maryland,2789080,578329,123677
21,Maine,643999,136617,30021
22,Michigan,4630228,969532,209801
23,Minnesota,2522633,525112,112828
24,Missouri,2811535,588685,127381
25,Mississippi,1355951,282541,60782
26,Montana,482222,101662,22177
27,North Carolina,4657729,971320,209161
28,North Dakota,345063,71672,15359
29,Nebraska,854461,178228,38389
30,New Hampshire,640795,134251,29070
31,New Jersey,4176204,870657,187420
32,New Mexico,952261,199664,43276
33,Nevada,1330634,276779,59416
34,New York,9356954,1949297,419237
35,Ohio,5389553,1129160,244507
36,Oklahoma,1763986,367894,79230
37,Oregon,1896523,397679,86201
38,Pennsylvania,6060953,1275899,277852
39,Puerto Rico,1642582,347979,76344
40,Rhode Island,507334,106092,22921
41,South Carolina,2281493,478813,103893
42,South Dakota,386690,81002,17537
43,Tennessee,3059840,639131,137897
44,Texas,12123897,2486847,524743
45,Utah,1249518,254913,53422
46,Virginia,3899807,808672,172945
47,Vermont,302914,63798,13901
48,Washington,3332755,691879,148174
49,Wisconsin,2681560,560610,121083
50,West Virginia,875984,185608,40729
51,Wyoming,266905,55514,11916

Here we can roughly compare of HGHI and IHME total ICU patients per state.

In [18]:
# Sum up all the mean new ICU patient forecasts per day for a state to get the
# total number of patients needing ICU care.
ihme_hghi_df = ihme_df.rename(columns={'location_name': 'State Name'}) \
        .groupby('State Name')[['newICU_mean',
                               'newICU_lower',
                               'newICU_upper']].sum() \
        .merge(hghi_state_gdf, on='State Name')

ihme_hghi_df['Difference (Mean)'] = (ihme_hghi_df['newICU_mean'] - 
                              ihme_hghi_df['Projected Individuals Needing ICU Care'])
ihme_hghi_df[['State Name', 
              'newICU_mean',
              'newICU_lower',
              'newICU_upper',
              'Projected Individuals Needing ICU Care', 
              'Difference (Mean)']]

,State Name,newICU_mean,newICU_lower,newICU_upper,Projected Individuals Needing ICU Care,Difference (Mean)
0,Alabama,10860.385673,1581.867815,19470.887500,101816,-90955.614327
1,Alaska,326.470700,130.027500,699.126250,13976,-13649.529300
2,Arizona,2684.803229,968.773804,5096.420373,142316,-139631.196771
3,Arkansas,1201.276658,588.182513,2108.841541,62109,-60907.723342
4,California,10011.022267,2272.810000,23755.562500,786338,-776326.977733
5,Colorado,4381.150995,2830.808124,7400.556649,109804,-105422.849005
6,Connecticut,2203.997054,1244.954377,2968.096294,76924,-74720.002946
7,Delaware,321.891350,125.408750,616.112500,20369,-20047.108650
8,District of Columbia,427.553200,267.161250,649.548750,14167,-13739.446800
9,Florida,12845.488395,2955.687813,35300.680357,456495,-443649.511605
10,Georgia,6690.598043,3339.918579,11536.775887,202044,-195353.401957
11,Hawaii,705.078115,278.645855,1471.828897,30578,-29872.921885
12,Idaho,783.168450,208.860709,1731.612412,33049,-32265.831550
13,Illinois,6632.727477,1909.430298,29434.413438,264370,-257737.272523
14,Indiana,2283.914564,728.217275,8194.227759,135316,-133032.085436
15,Iowa,2800.710556,2083.345580,4115.899902,65320,-62519.289444
16,Kansas,1237.917647,378.702900,2552.053956,58880,-57642.082353
17,Kentucky,1630.274352,237.106595,3739.722560,92113,-90482.725648
18,Louisiana,3644.238346,1109.336124,6359.184226,94666,-91021.761654
19,Maine,705.546418,360.856250,1314.792758,30021,-29315.453582
20,Maryland,3527.007516,599.978909,9114.908333,123677,-120149.992484
21,Massachusetts,4603.896435,1491.035814,7031.778800,145511,-140907.103565
22,Michigan,6155.778411,3193.052112,9658.412500,209801,-203645.221589
23,Minnesota,1818.424032,879.604106,3188.551811,112828,-111009.575968
24,Mississippi,1819.298772,438.213694,4206.772461,60782,-58962.701228
25,Missouri,2498.476309,393.723284,6168.323339,127381,-124882.523691
26,Montana,515.332673,247.615000,1000.750132,22177,-21661.667327
27,Nebraska,855.569086,394.965833,1767.384182,38389,-37533.430914
28,Nevada,1640.259372,676.548778,3600.126600,59416,-57775.740628
29,New Hampshire,660.374738,321.816250,1288.349883,29070,-28409.625262
30,New Jersey,4108.438711,2225.433756,5900.252200,187420,-183311.561289
31,New Mexico,1017.901489,483.116667,2028.179523,43276,-42258.098511
32,New York,31120.973500,18197.012500,41526.937500,419237,-388116.026500
33,North Carolina,3057.425605,754.719931,6250.622887,209161,-206103.574395
34,North Dakota,316.466350,138.677500,643.235000,15359,-15042.533650
35,Ohio,3674.733156,1188.830016,7028.380990,244507,-240832.266844
36,Oklahoma,2771.138326,2068.716850,3502.233946,79230,-76458.861674
37,Oregon,1088.921131,240.228987,2235.025449,86201,-85112.078869
38,Pennsylvania,3840.561985,1949.958392,7162.049378,277852,-274011.438015
39,Rhode Island,496.729841,237.865000,973.802303,22921,-22424.270159
40,South Carolina,2169.945991,1055.870232,3652.667876,103893,-101723.054009
41,South Dakota,385.743929,112.876250,870.038553,17537,-17151.256071
42,Tennessee,6784.870772,4905.748879,9053.440536,137897,-131112.129228
43,Texas,13104.383864,3801.339394,26590.462500,524743,-511638.616136
44,Utah,1184.328506,532.910646,2481.270196,53422,-52237.671494
45,Vermont,112.751000,41.897500,215.327500,13901,-13788.249000
46,Virginia,6326.609827,734.343750,20469.459464,172945,-166618.390173
47,Washington,1951.000045,811.873478,3442.793827,148174,-146222.999955
48,West Virginia,939.507871,320.742675,2031.781061,40729,-39789.492129
49,Wisconsin,1849.696523,405.070561,4738.121582,121083,-119233.303477
50,Wyoming,279.079950,80.130000,643.766250,11916,-11636.920050